<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>Controller.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegister</servlet-name>
        <servlet-class>Controller.ControlRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRequestInfoLogin</servlet-name>
        <servlet-class>Controller.ControlRequestInfoLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlUpdateUserManager</servlet-name>
        <servlet-class>Controller.ControlUpdateUserManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDeleteUseRManager</servlet-name>
        <servlet-class>Controller.ControlDeleteUseRManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDeleteRequestManager</servlet-name>
        <servlet-class>Controller.ControlDeleteRequestManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlExit</servlet-name>
        <servlet-class>Controller.ControlExit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegister</servlet-name>
        <url-pattern>/ControlRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRequestInfoLogin</servlet-name>
        <url-pattern>/ControlRequestInfoLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlUpdateUserManager</servlet-name>
        <url-pattern>/ControlUpdateUserManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDeleteUseRManager</servlet-name>
        <url-pattern>/ControlDeleteUseRManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDeleteRequestManager</servlet-name>
        <url-pattern>/ControlDeleteRequestManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlExit</servlet-name>
        <url-pattern>/ControlExit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
