<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>Controller.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegister</servlet-name>
        <servlet-class>Controller.ControlRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRequestInfoLogin</servlet-name>
        <servlet-class>Controller.ControlRequestInfoLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegister</servlet-name>
        <url-pattern>/ControlRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRequestInfoLogin</servlet-name>
        <url-pattern>/ControlRequestInfoLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
