.globalSect {
    border: black 1px solid;
    display: flex;
    text-align: justify;
    width: auto;
    height: auto;
}

#formSect {
    margin: 5px;
    padding: 5px 50px 10px 50px ;
    text-align: center;
    border: black 1px solid;
    width: auto;
    height: auto;
}

#formRegister {
    display: inline-block;
}