#setSect1 {
    width: 80%;
    margin: 10px;
}

#setSect1-1 {
    margin: 30px;
    padding-bottom: 10px;
    border-bottom: 1px black solid;
    border-color: #97050E;
}

#setSect1-2 {
    width: 100%;
}

.informacion2 {
    margin: 10px;
    border: 1px transparent solid;
    text-align: center;
    font-family: arial;
    display: none;
}

.informacion2 #infoSet1-1 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #B70914;
    width: 100%;
    height: 5%;
    display: grid;
    grid-template-columns: 18fr 1fr;
}

.informacion2 #infoSet1-1 button {
    background: #B70914;
    border: none;
    border-top-right-radius: 10px;
}

.informacion2 #infoSet1-2 {
    border: 1px gray solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
}

#infoSet1-21 section{
    width: 100%;
    height: 5%;;
    display: block;
}

#infoSet1-212 section{
    margin: 10px auto;
    width: 100%;
    height: 5%;
    display: grid;
}


.btnPrivacidad:first-of-type {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 80px;
    background: #B70914;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 10px;
}

.btnPrivacidad:first-of-type:hover {
    background: white;
    color: #B70914;
    box-shadow: inset 0 0 0 3px #B70914;
}

.btnPrivacidad:nth-of-type(2){
    width: 80px;
    background: #B70914;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 10px;
}

.btnPrivacidad:nth-of-type(2):hover {
    background: white;
    color: #B70914;
    box-shadow: inset 0 0 0 3px #B70914;
}

.btnCancelar{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 80px;
    background: #B70914;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 10px;
}

.btnCancelar:hover {
    background: white;
    color: #B70914;
    box-shadow: inset 0 0 0 3px #B70914;
}

.infoPrivacidad section {
    height: 5%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: gray;
    margin: 10px auto;
}

.infoPrivacidad section input {
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 10px;
}

.infoPrivacidad section input:disabled {
    background: #E5E5E5;

}

.infoPrivacidad section input:enabled {
    background: lightgreen;
}

.btnSelector {
    text-align: center;
    font-family: arial;
    height: 5%;
    display: flex;
    margin-bottom: 10px;
}